:root{
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
  --xs: 576px;
}

body{
  justify-content: center;
}

.inactive{
  opacity: 0.5;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    /* display: block; */
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

@media (min-width: 992px) {
.navbar-brand {
    position: fixed;
}}


.upload_dropZone {
  outline: 2px dashed;
  outline-offset: -12px;
  transition:
    outline-offset 0.2s ease-out,
    outline-color 0.3s ease-in-out,
    background-color 0.2s ease-out;
}
.upload_dropZone.highlight {
  outline-offset: -4px;
}
.upload_img {
  width: calc(33.333% - (2rem / 3));
  object-fit: contain;
}